/* Formulaire central */
.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px); /* Flou de l'arrière-plan */
}

.form-content {
    background: linear-gradient(145deg, #ffffff, #f8f8f8);
    padding: 40px;
    border-radius: 16px;
    width: 450px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.7s ease-in-out;
}

.form-content h3 {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #4A4A4A;
    text-align: center;
    letter-spacing: 1px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-buttons button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #6c63ff;
    color: white;
}

.form-buttons button:hover {
    background-color: #4839ff;
    transform: scale(1.05);
}

/* Sélecteur */
select {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    color: #555;
}

select:focus {
    border-color: #6c63ff;
    background-color: #fff;
    outline: none;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

/* Options */
select option {
    font-size: 16px;
    background-color: #ffffff;
}

select:hover {
    background-color: #f1f1f1;
}

/* Barre d'outils de la bibliothèque */
.rbc-toolbar button {
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s;
}

.rbc-toolbar button:hover {
    background-color: #4839ff;
    transform: translateY(-3px);
}

.calendar-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
    background: linear-gradient(145deg, #e2e8f0, #ffffff);
}

/* Corps du calendrier */
.rbc-calendar {
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Boutons supplémentaires */
.rbc-btn {
    padding: 8px 14px;
    font-size: 14px;
    min-width: 40px;
    border-radius: 6px;
}

.rbc-toolbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
.rbc-toolbar-label {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Assurez-vous que le texte est bien visible */
    text-transform: capitalize; /* Assure que le texte reste lisible */
}
.uploadContainer {
    display: flex;
    display: inline-block;
}
.fileInput {
    position: relative;
    z-index: 2;
}
.uploadButton {
    position: absolute;
    top: 854px;
    z-index: 1;
    background-color: #f8b50a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 150px;
}
.uploadButton:hover {
    background-color: #b68b17;
}
.search-bar, .category-filter {
    margin-bottom: 5px;
    margin-top: 5px;
}
.search-bar {
    margin-bottom: 5px;
}
.category-filter {
    margin-top: 5px;
}