.home-container {
    display: flex;
    align-items: center; 
    padding: 40px;
    border-radius: 10px; 
    
}

.quote-container {
    max-width: 50%; 
}

.quote {
    font-size: 24px; 
    color: #2e2e2e; 
    text-align: left; 
    line-height: 1.5; 
    font-style: italic; 
}

.image-container {
    max-width: 40%; 
    margin-left: 110px;
}

.inspiration-image {
    width: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
